
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/myScript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Calisiyor</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6" style="background-color:darkred">
            <p style="color:white"><strong>İSTASYON 899</strong></p>
        </div>

        <div class="col-md-6" style="background-color:limegreen"><p style="color:white"><strong>ÇALIŞIYOR</strong></p></div>
    </div>

    <div class="container-fluid" style="background-color:darkslategrey; height:100px">
        <div class="row">
            <div class="col-md-6">
                <label style="color:white">İŞ NO | PLAN. İŞ MİKTARI</label>
                <label style="color:limegreen">2855 | 13000</label><br />
                <label style="color:white">KALAN MİKTAR [ADET]</label>
                <label style="color:limegreen">[KÜ: 11656] 1296</label>
            </div>
            <div class="col-md-6">
                <label style="color:white"><strong>ADET</strong></label><br />
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color:darkred; height:80px">
        <div class="row">
            <div class="col-md-6">
                <label style="color:white">STOK</label><br />
                <label style="color:white">STOK ADI 2</label>
            </div>
            <div class="col-md-6">
                <label style="color:white">İŞ EMRİ NO</label><br />
                <label style="color:white">İŞE BAŞLAMA</label><br />
                <label style="color:white">GEÇEN SÜRE</label>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">PERSONEL</th>
                            <td>Personel 955</td>
                        </tr>
                        <tr>
                            <th scope="row">OPERASYON</th>
                            <td>075-Prograsiv</td>
                        </tr>
                        <tr>
                            <th scope="row">ANLIK DURUŞ SÜRESİ</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">VARDİYA ÜRETİMİ</th>
                            <td>9</td>
                        </tr>
                        <tr>
                            <th scope="row">VARDİYA DURUŞ SÜRESİ</th>
                            <td>2 sa 37 dk</td>
                        </tr>
                        <tr>
                            <th scope="row">RANDIMAN (Son 8 saat)</th>
                            <td>%2</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">HATA</th>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">TAKİP NO</th>
                            <td>008290</td>
                        </tr>
                        <tr>
                            <th scope="row">EKİPMAN</th>
                            <td>55129-02030-00</td>
                        </tr>
                        <tr>
                            <th scope="row">ANLIK/V. ORT. HIZ</th>
                            <td>1800/0</td>
                        </tr>
                        <tr>
                            <th scope="row">ÇEVRİM G/P</th>
                            <td>2/1.5</td>
                        </tr>
                        <tr>
                            <th scope="row">PLAN. KAPASİTE</th>
                            <td>2400 Ad/Sa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @*<div class="text-center">
        <button type="button" class="btn btn-success btn-lg">İş Yükle</button>
        <button type="button" class="btn btn-success btn-lg">Duruş Tanımla</button>
        <button type="button" class="btn btn-success btn-lg">Personel İşlemleri</button>
        <button type="button" class="btn btn-success btn-lg">Hata Girişi</button>
        <button type="button" class="btn btn-success btn-lg">Vardiya Bilgileri</button>
        <button type="button" class="btn btn-success btn-lg">İş Parametreleri</button>
        <a class="btn btn-success btn-lg" href="@Url.Action("DigerIslemler","calisiyor")"></a>
        <button type="button" class="btn btn-success btn-lg">Diğer İşlemler</button>
    </div>*@

    @*<br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div style="height:100px; width:160px; border:2px solid gray">
                        <img src="~/Content/images/login.png" height="60" width="70" />
                        <label>Barış Usta</label><br />
                        <label>Sicil: 001</label>
                    </div>
                    <label>Makine: Freze</label><br />
                    <label>Parça Adı: Dişli</label>
                </div>
                <div class="col-md-6">
                    <header><strong>PERFORMANS DURUMU</strong></header>
                    <div style="height:140px; width:250px; border:2px solid gray">
                        <div class="row" style="text-align:center"><label>Freze OEE</label><br /></div>
                        <div id="chartOEE"> </div>
                    </div>
                </div>
            </div>
        </div>*@
        <br /><br />


            <div class="text-center">
                <button class="btn btn-warning btn-lg" onclick='window.location = "@Url.Action("OperasyonProseduru", "calisiyor")";'>OPERASYON PROSEDÜRÜNE BAK</button>
                <button class="btn btn-warning btn-lg">İŞ BİTİR</button>
                <button class="btn btn-warning btn-lg" onclick='window.location = "@Url.Action("DurusNedeni","calisiyor")";'>DURAKLAT/DURUŞ NEDENİ GİR</button>
                <button class="btn btn-warning btn-lg">HATA GİRİŞİ</button>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
            <script>
                var options = {
                    chart: {
                        height: 140,
                        type: "radialBar"
                    },

                    series: [92],

                    plotOptions: {
                        radialBar: {
                            hollow: {
                                margin: 15,
                                size: "70%"
                            },

                            dataLabels: {
                                showOn: "always",
                                name: {
                                    offsetY: -10,
                                    show: true,
                                    color: "#888",
                                    fontSize: "13px"
                                },
                                value: {
                                    color: "#111",
                                    fontSize: "20px",
                                    show: true
                                }
                            }
                        }
                    },

                    stroke: {
                        lineCap: "round",
                    },
                    labels: [""]
                };



                var chart1 = new ApexCharts(document.querySelector("#chartOEE"), options);

                chart1.render();

            </script>
</body>
</html>
